@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.body-home {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-prin {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
  width: 100%;
  min-height: 100vh; /* Remplir au moins toute la hauteur de la fenêtre visible */
}
.container.mt-5 {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
  padding: 5px;
  border-radius: 4px;
}
.row.row-cols-5 {
  justify-content: center; /* Centrage horizontal */
}
.bien {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
  padding: 5px;
  border-radius: 4px;
}
.body-login {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
}
.black-fill {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}
#homeNav {
  background: rgba(255, 255, 255, 0.5) !important;
}
.card-header.text-center {
  background: rgba(0, 0, 0, 0.7);
}
.welcome-text {
  min-height: 80vh;
}
.welcome-text img {
  width: 100px;
}
.welcome-text h4 {
  color: #eee;
  font-size: 51px;
  font-family: "Kode Mono", monospace;
}
.welcome-text p {
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 4px;
}
#about {
  min-height: 100vh;
}
#about form {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#about .card-1 {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#about .card-1 h5 {
  font-family: "Kode Mono", monospace;
  font-size: 28px;
}

#contact {
  min-height: 100vh;
}
#contact form {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#contact form h3 {
  text-align: center;
  font-family: "Kode Mono", monospace;
}
textarea {
  resize: none;
}

.login {
  max-width: 500px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.login h3 {
  text-align: center;
  font-size: 50px;
}
.w-450 {
  width: 450px;
}
.n-table {
  max-width: 800px;
}
.form-w {
  max-width: 600px;
  width: 100%;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.a_in_todo {
  margin-top: 20px;
}

.a_in_todo .list-group-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.a_in_todo .list-group-item h2 {
  margin: 0;
}

.a_in_todo .list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.a_in_todo .list-group-item.checked {
  text-decoration: line-through;
  color: #888;
}
