@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.body-home {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
}

.body-login {
  background: url(../img/space.gif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Kode Mono", monospace;
}
.black-fill {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}
#homeNav {
  background: rgba(255, 255, 255, 0.5) !important;
}
.welcome-text {
  min-height: 80vh;
}
.welcome-text img {
  width: 100px;
}
.welcome-text h4 {
  color: #eee;
  font-size: 51px;
  font-family: "Kode Mono", monospace;
}
.welcome-text p {
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 4px;
}
#about {
  min-height: 100vh;
}
#about form {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#about .card-1 {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#about .card-1 h5 {
  font-family: "Kode Mono", monospace;
  font-size: 28px;
}

#contact {
  min-height: 100vh;
}
#contact form {
  max-width: 600px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}
#contact form h3 {
  text-align: center;
  font-family: "Kode Mono", monospace;
}
textarea {
  resize: none;
}

.login {
  max-width: 500px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.login h3 {
  text-align: center;
  font-size: 50px;
}
.w-450 {
  width: 450px;
}
.n-table {
  max-width: 800px;
}
.form-w {
  max-width: 600px;
  width: 100%;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.a_in_todo {
  margin-top: 20px; /* Espacement supplémentaire en haut */
}

.a_in_todo .list-group-item {
  margin-bottom: 10px; /* Espacement entre chaque tâche individuelle */
  padding: 10px; /* Remplissage intérieur */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
}

.a_in_todo .list-group-item h2 {
  margin: 0; /* Supprimer les marges autour du titre */
}

.a_in_todo .list-group-item input[type="checkbox"] {
  margin-right: 10px; /* Espacement à droite du bouton de case à cocher */
}

.a_in_todo .list-group-item.checked {
  text-decoration: line-through; /* Barrer le texte des tâches cochées */
  color: #888; /* Couleur de texte plus claire pour les tâches cochées */
}
